* {
    margin: none;
    font-weight: bold;
}

@media only screen and (max-width:700px){
    .navbar #nav_blank{
        display:none;
    }
    .navbar #search{
        display:none;
    }
}

@media only screen and (max-width:530px){
    #control{
        display: none;
    }
}

header {
    background-color: lightgrey;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    min-width: 500px;
}

.navbar{
    display:flex;
}

.navbar #home{
    flex:1;
}

#home img{
    height:90px;
    width:auto;
    display: block;
    float:left;
    padding-left : 20px;
}

.navbar #nav_blank{
    flex:4;
}

.navbar #search{
    line-height: 100px;
    flex:1;
}

#content {
    min-width: 500px;
    min-height: calc(100vh - 100px);
    padding-bottom: 100px;
}

footer {
    height: 100px;
    padding: 10px;
    background-image: linear-gradient(to bottom right, rgb(87,2,136), white);
    color: white;
    font-weight: bold;
    border:1px solid black;
    border-radius: 20px;
    min-width: 480px;
}

#contact {
    text-decoration: underline;
    margin: 0px;
}

#contactpopup {
    background-color: grey;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
    position: absolute;
}

#cpright{
    display:block;
}

#contact:hover {
    color: red;
}

#contact:hover+#contactpopup {
    display: block;
}

#contact:hover+#cpright {
    display:none;
}

#control {
    padding: 10px;
    background-color: yellow;
    text-align: center;
    border: 1px black solid;
    border-radius: 10px;
    position: fixed;
    top: 20vh;
    right: 50px;
    height:60px;
    opacity : 20%;
}

#control:hover{
    opacity:100%    ;
}

#control #up{
    height:50%;
    line-height: 50px;
}

#control #down{
    height:50%;
    line-height: 50px;
}